// Navigation code here

.navContainer {
  width: 100%;
  .flexColumn(center, center);

  a {
    text-decoration: none;
  }

  #title {
    font-size: 4.5rem;
    text-align: center;
    margin: @globalMargin;
    // padding: 2% 0;
    text-decoration: none;
  }

  nav {
    width: 100%;
    padding: 0 27%;
    .flex();
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    @media @phone {
      width: 100%;
      padding: 0 10%;
    }

    a {
      margin: @globalMargin;
      // width: 3rem;
      text-align: center;
      text-decoration: none;
      color: @nav-font;
      font-size: 1.6rem;

      h1 {
        text-decoration: none;
      }

      @media @phone {
        width: 30%;
      }
    }
  }
}
